@import "./icons/css/rc.css";

body {
	background-color: #fff;
	user-select: none;
}

.svg {
	margin: auto;
	top; right: 0;
	 left: 0;
	position: absolute;
	border-radius: 5px;
	cursor: crosshair;
}

.mobile {
	transform: rotate(90deg);
	left: -20%;
}

.controls {
	font-family: arial;
	font-weight: bold;
	z-index: 100;
	background-color: "#fff";
	position: absolute;
	text-align: center;
	width: 450px;
	height: 50px;
	bottom: 20px; right: 0;
	left: 0;
	margin: auto;
}

.display {
	margin-top: 20px;
	cursor: default;
}

/*#gen {
	float: left;
}

#speed {
	float: right;
}*/

i {
	cursor: pointer;
	padding: 10px;
	border-radius: 3px;
	/*border: 2px solid rgba(0,0,0,.5);*/
	transition: .1s;
}

i:hover {
	background-color: #000;
	color: white;
}

rect:hover {
	cursor: crosshair;
	fill: #afa;
}
