@import "./icons/css/rc.css";

body {
	background-color: #fff;
	user-select: none;
	overflow: hidden;
}

.svg {
	margin: auto;
	top: 0; right: 0;
	 left: 0;
	position: absolute;
	border-radius: 5px;
	cursor: crosshair;
}
/*
.mobile {
	transform: rotate(90deg);
	left: -20%;
}*/

.controls {
	/*box-shadow: 0 0  20px 0px rgba(0,0,0,.3);*/
	border-top: 1px dashed black;
	border-radius: 5px;
	font-family: courier;
	/*font-weight: bold;*/
	z-index: 100;
	background-color: "#fff";
	position: absolute;
	text-align: center;
	left: 0; right: 0;
	width: 100%;
	height: 50px;
	bottom: 5px;
	padding: 20px 0;
	margin: auto;
	background-color: #fff;
}

.display {
	z-index: -1;
	width: 100%;
	font-size: 90%;
	position: absolute;
	/*top: 0;*/
	margin: 15px;
	cursor: default;
}

#gen {
	float: left;
}

#speed {
	float: right;
	margin-right: 30px;
}

i {
	background-color: #ccc;
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
	color: black;
	font-size: 90%;
}

#brush {
	background-color: #fff;
}

#erase {
	background-color: #fff;
}

.selected {
	border: 2px solid #bd5 !important;
	/*box-shadow: 0 0  10px 3px rgba(70,200,40,1);*/
}

i:active {
		background-color: #000;
		color: #fff;	
		border-radius: 3px;
	}

rect:active {
	cursor: crosshair;
	fill: #bd5;
}

@media screen and (min-width: 500px){
	.controls {
		height: 20px;
	}

	.display {
		top: 10px;
	}

	i:hover {
		background-color: #ddd;
		color: black;
	}

	rect:hover {
		cursor: crosshair;
		fill: #bd5;
	}
}